@media screen and (max-width: 800px) {
	
	#menu
	{
		background-color:white;
		width:100%;
	}
	/*https://www.w3schools.com/cssref/css3_pr_mediaquery.asp*/
	html, body
	{
		width: auto;
	}
	
	body
	{
		
		width:100px;
		margin: 0px;
		padding: 0px;
		background: #202020;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 12pt;
		font-weight: 300;
		color: #444444;
	}
	
	
	h1, h2, h3
	{
		margin: 0;
		padding: 0;
		font-weight: 600;
		color: #333333;
	}
	
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #2980b9;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	.container
	{
		margin: 0em auto;
	}
		

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

	
	#menu ul
	{
	}
	
	#menu li
	{
		border-top: 1px solid rgba(255,255,255,0.08);
	}
	
	#menu li a, #menu li span
	{
		display: block;
		padding: 1.5em 1.5em;
		text-align: center;
		text-decoration:  none;
		text-transform: uppercase;
		font-weight: 700;
		color: rgba(255,255,255,0.5);
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	#menu .current_page_item a
	{
		background: #2980b9;
		color: rgba(255,255,255,1);
	}
	
	#menu .icon
	{
	}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		position: relative;
		float: top;
		width: 100%;
		padding: 1em 0em;
	}

	#bienvenida
	{
		position: relative;
		text-align: center;
		margin: auto;
		padding: 10% 0;

	}

	#comprar
	{
		position: relative;
		text-align: top;
		margin: auto;
		padding: 0% 0;

	}

		#agregar-tienda
	{
		position: relative;
		text-align: top;
		margin: auto;
		padding: 0% 0;

	}


}
