{% extends "index.html" %}
{% block comprar %}



<div id="bienvenida">
			<div class="title">
				<h1>Comprar</h1>
			</div>
			<p>Seleccione o agregue una lista y haga click en siguiente. </p>
			
			<div class="tabla-compras">
			<table id="tablePreview" class="table table-striped table-bordered">
<!--Table head-->
  <thead>
    <tr>
      <th>Lista</th>
      <th>Productos</th>
      <th>Comprados</th>
      <th>Presupuesto</th>
      <th>Valor Real</th>
    </tr>
  </thead>
  <tbody>

     <tr>
      <th>test</th>
      <td> 1 </td>
      <td> 2 </td>
      <td> 3 </td>
      <td> 4 </td>
   
    <td>
    <a class="btn btn-secondary" href=""role="button">Agregar</a>

    </td>
</tr>

  </tbody>
  <!--Table body-->
</table>
</div>
<!--Table-->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<button class="crear-lista btn btn-dark lista-nueva" type="button" name="button">Nueva Lista</button>


</div>

<script type="text/javascript">
$(document).ready(function() {

    $(".crear-lista").modalForm({
        formURL: "{% url 'crear_lista' %}"
    });

});
</script>

{% endblock %}