{% extends "index.html" %}
{% block comprar %}
{% load static %}
<script src="{% static '/js/listas.js' %}"></script> 

<div id="comprar">
			<div class="title">
				<h1>Mis Listas</h1>
			</div>
			<p>Seleccione o agregue una lista y haga click en siguiente. </p>
			
			<div id='tablacompras'>

</div>
<!--Table-->

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<button class="crear-lista btn btn-dark lista-nueva" type="button" name="button">Nueva Lista</button>


</div>

<script type="text/javascript">
$(document).ready(function() {

    $(".crear-lista").modalForm({
        formURL: "{% url 'crear_lista' %}"
    });

});
</script>



{% endblock %}