<!doctype html>
<html lang="es">
		
	<head>
		
		
		
		 <meta charset="utf-8">
		 <title>Mis Perris!</title>
		 <meta name="description" content="Pagina completa con Flexbox"><!--Utilizamos el descriptor en meta para apoyar la busqueda de contenidos en la web-->
		 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0,maximun-scale=1.0,minimun-scale=1.0"><!--las escalas indican un punto inicial,laescala maxima y minima-->

	

	</head>
	<body>
		<div class="contenedor">
			<header>			
				
				
				<nav id="menu">
				
				</nav>
			</header>
		</div>
        	
		<h1> </h1> 
		<section>
			<div class="container">
				   

          			<div class="forma">	


						
					  </div>
					  
			</div>
			
		</section>
		
		<footer> Desarrollo Web y Mobile  </footer>
	</body>
	
</html>