<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Skeleton 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130902

-->
{% load static %}
{% load pwa %}

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="Tienda" />
<meta name="description" content="Pagina del examen de Desarrollo de Aplicaciones Web y Mobile" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="{% static '/css/default.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css/medias.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static '/css/chicas.css' %}" rel="stylesheet" type="text/css" media="all" />

<link href="{% static '/css/fonts.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static '/js/jquery.bootstrap.modal.forms.min.js' %}"></script> 

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
{% progressive_web_app_meta %}
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src= "{% static 'images/default_avatar.png' %}" height="128" width="128" />
			<h1><a href="#"> 
				{% if user.is_authenticated %} 
					{{ user }} 
				{% else %} 
					Invitado 
				{% endif %}
			</a></h1>
			<span>Bienvenido </span>
		</div>
		<div id="menu">
			<ul>
				<li class=" 
					{% if active_tab == 'tab1' %}
						current_page_item 
					{% endif %}">
				<a href="{%url 'index'%}" accesskey="1" title="">Inicio</a></li>

				<li class=" 
					{% if active_tab == 'tab2' %}
						current_page_item 
					{% endif %}">

				<a href="{%url 'agregarTiendas'%}" accesskey="2" title="">Tiendas</a></li>

				<li class=" 
					{% if active_tab == 'tab3' %}
						current_page_item 
					{% endif %}"><a href="{%url 'comprar'%}" accesskey="3" title="">Lista de Compras</a></li>
				{% if user.is_authenticated == False %}
				<li class=" 
					{% if active_tab == 'tab4' %}
						current_page_item 
					{% endif %}">
				<a href="{%url 'login'%}" accesskey="4" title="">Entrar</a></li>

				<li class=" 
					{% if active_tab == 'tab5' %}
						current_page_item 
					{% endif %}">
					<a href="{%url 'registroUsuario'%}" accesskey="5" title="">Registrar</a>
				</li>
				{% else %}
					<li class=" 
					{% if active_tab == 'tab4' %}
						current_page_item 
					{% endif %}">
				<a href="{%url 'logout'%}" accesskey="4" title="">Salir</a></li>
				{% endif %}
				
			</ul>
		</div>
	</div>
	<div id="main">
		{% block bienvenida %}
		{% endblock %}
		{% block RegistroUsuario %}
		{% endblock %}
		{% block formLogin %}
		{% endblock %}
		{% block agregarTienda %}
		{% endblock %}
		{% block agregarProducto %}
		{% endblock %}
		{% block error %}
		{% endblock %}
		{% block comprar %}
		{% endblock %}
		{% block listaProductos %}
		{% endblock %}
		
		

	</div>
</div>
</body>
<script src="{% static '/js/login.js' %}"></script> 
<script src="{% static '/js/registro.js' %}"></script> 
<script src="{% static '/js/registroTienda.js' %}"></script> 
<script src="{% static '/js/validaciones.js' %}"></script>

	
</html>
