{%extends 'index.html'%}
{% block formLogin %}


<form method="POST" id="formularioLogin" enctype="multipart/form-data" name="formulario">
    {% csrf_token %}
<table>
    <tr>
        <td>usuario</td><td><input type="text" id="username" name="username" required></td>
    </tr>
    <tr>
        <td>contraseña</td><td><input type="text" id="password" name="password" required></td>
    </tr>

            </tr>
    

    
</table>   
<input type="submit" id="agregar" value="Agregar" name="agregar"> 
</form>
    
    
{% endblock  %}


