{% extends "index.html" %}
{% block formLogin %}
{% load crispy_forms_tags %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<div id="registro">
			<div class="title">
				<h1>Iniciar Sesión</h1>


			</div>
				<p>Ingrese sus credenciales y haga click en "Ingresar"</p>
				<div id="error"> <h4 style="color:red">Datos incorrectos.</h4> </div>
				
				{% crispy form %}
				  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
				
</div>
    

{% endblock  %}