{%extends 'index.html'%}
{% block RegistroUsuario %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<form method="POST" id="formularioUsuario" enctype="multipart/form-data" name="formulario">
    {% csrf_token %}
<table>
    <tr>
        <td>usuario</td><td><input type="text" id="username" name="username" required></td>
    </tr>
    <tr>
        <td>contraseña</td><td><input type="text" id="password" name="password" required></td>
    </tr>
    <tr>
            <td>validar contraseña</td><td><input type="text" id="password2 " name="password2" required> </td>
        </tr>
        <tr>
                <td>email</td><td><input type="email" id="email " name="email" required> </td>
            </tr>
    

    
</table>   
<input type="submit" id="agregar" value="Agregar" name="agregar"> 
</form>
    
    


    {% endblock  %}